.treeWrap{
  font-size: 14px;
}
.treeItemExpand{
  > span{
    transform: rotate(180deg);
  }
}
.treeLabel{
  box-shadow: 0 2px 4px #1e282c;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color: hsla(0,0%,100%,.65);
  >:nth-child(1){
    margin-right: 16px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    .treeLabelText{
      display: flex;
      align-items: center;
      flex-grow: 1;
      >:nth-child(1){
        flex-shrink: 0;
      }
      >:nth-child(2){
        width: 0;
        margin: 0 10px;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        user-select: none;
      }
    }
    >:nth-child(2){
      flex-shrink: 0;
      background: #1890ff;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      margin-top: 4px;
      color: #fff;
      user-select: none;
    }
  }
  >:nth-child(2){
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 10;
    >span{
      transition: .25s;
    }
  }
}
.treeLabelActive{
  color: #fff;
  font-weight: 600;
}
.treeContent{
  background: #2c3b41;
}
.treeSub {
  padding-left: 32px;
  margin: 4px 0 6px 0;
}
.treeSubActive{
  background: #1890ff;
}
.treeLabel, .treeSubLabel{
  padding-left: 24px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.treeSubLabel{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  >span:nth-child(1){
    width: 65px;
    flex-shrink: 0;
  }
  >span:nth-child(2){}
}
