.container{
  //padding: 20px 24px;
}
.appLog{
  position: relative;
  padding-left: 24px!important;
  &:before{
    width: 18px;
    height: 18px;
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    background-image: url("https://s1.ax1x.com/2022/06/24/jFSClQ.png");
    background-size: contain;
    background-position: center;
  }
  &:hover:before{
    background-image: url("https://s1.ax1x.com/2022/06/24/jFSPyj.png");
  }
  &:after{
    background-image: url("https://s1.ax1x.com/2022/06/24/jFSPyj.png");
  }
}
.appHeader{
  position: sticky;
  top: 0;
  left: 0;
  height: 64px;
  background: #fff;
  //box-shadow: 0 2px 8px #f0f1f2;
  border-bottom: 2px solid #f0f1f2;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  color: #000000d9;
}
.appHeader__l{
  display: flex;
  align-items: center;
}
.appHeader__l > a{
  padding-left: 6px;
  color: #000000d9;
  font-size: 18px;
  font-weight: 600;
  font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji",sans-serif;
}
.appHeader__l > a:hover, .appHeader__l > a:active{
  color: #1890ff;
}
.appHeader__r{
  display: flex;
  align-content: center;
  font-size: 16px;
}
