.f10{ font-size: 10px; }
.f12{ font-size: 12px; }
.f14{ font-size: 14px; }
.f16{ font-size: 16px; }
.f18{ font-size: 18px; }
.f20{ font-size: 20px; }
.f22{ font-size: 22px; }
.f24{ font-size: 24px; }
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
textarea.ant-input{
  word-break: break-all;
}
.text-align-right{
  text-align: right;
}
.white-space-nowrap{
  white-space: nowrap;
}

.tpl-dialog{
  top: 40px;
  .ant-modal-body{
    > .ant-row{
      height: calc(100vh - 234px);
      display: flex;
      >.ant-col{
        flex-grow: 1;
        flex-shrink: 0;
        height: inherit;
      }
      >.ant-col:nth-child(2){
        >.ant-row{
          height: inherit;
          > .ant-col{
            height: inherit;
          }
        }
      }
    }
  }
}
.tpl-edit-dialog{
  top: 18px;
  padding-bottom: 0;
  .ant-modal-body{
    >.ant-form{
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      .ant-form-item-control{
        position: relative;
        .ant-form-item-explain-connected{
          position: absolute;
          bottom: 4px;
          transform: translateY(100%);
        }
      }
      >div:nth-child(1){
        flex-shrink: 0;
        &~*{
          margin-top: 14px;
        }
        .ant-form-item{
          margin-bottom: 0;
        }
      }
      >div:nth-child(2){
        flex-grow: 1;
        height: 0;
        >.ant-row{
          height: 100%;
          .ant-col{
            height: inherit;
            >.ant-row{
              height: inherit;
            }
          }
          >.ant-col:nth-child(1){
            .ant-form-item-control-input, .ant-form-item-control-input-content, .cm-theme-light, .cm-editor{
              height: inherit;
            }
          }
        }
      }
    }
  }
}

.tpl-dialog__req-resp{
  .ant-form{
    .ant-form-item{
      margin-bottom: 6px;
    }
  }
  .ant-modal-body{
    >.ant-row >.ant-col:nth-child(1) {
      display: flex;
      flex-direction: column;
      >div{
        flex-shrink: 0;
      }
      >form{
        flex-grow: 1;
        height: 0;
        display: flex;
        flex-direction: column;
        >*:nth-child(1){
          flex-shrink: 0;
        }
        >*:nth-child(2){
          flex-grow: 1;
          height: 0;
          >* {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;
            >div:nth-child(1){
              flex-shrink: 0;
              font-size: 16px;
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 8px;
            }
            >div:nth-child(2){
              flex-grow: 1;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
